form{
    background-color: $Purewhite;
    width: 70vw;
    position: absolute;
    top: 471px;
    left: 9vw;
    padding: 24px;
    border-radius: 16px;
    h3{
        color: $Gunmetal;
        text-align: left;
    }
}