form{
    background-color: $Purewhite;
    width: 70vw;
    position: absolute;
    top: 471px;
    left: 10vw;
    padding: 24px;
    border-radius: 16px;
    box-shadow: rgba(150, 150, 255, 0.397) 0px 20px 30px;
    h3{
        color: $Gunmetal;
        text-align: left;
    }
}