.header{
    background: linear-gradient(to right, #effeff76, #d6e6fea0);
    text-align: center;
    padding: 24px;
    border-radius: 0 0 35px 35px;
    border-bottom: 1px solid black;

    .header_title2{
        display: none;
    }

    h1{
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 24px;
        color: $Gunmetal;
    }

    p{
        font-size: 16px;
        color: $DarkElectricBlue;
        margin-bottom: 217px;
    }
}

@media screen and (min-width:768px){
    .header{
        padding-left: 39px;
        padding-right: 39px;

        .header_title{
            display: none;
        }
        .header_title2{
            margin-top: 40px;
            display: block;
        }
    }
}

@media screen and (min-width: 1440px){
    .header{
        margin-left: 24px;
        border-radius: 0 0 35px 35px;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items:start;
        padding-left: 116px;
        box-sizing: border-box;

        img{
            margin-top: 74px;
            margin-bottom: 8vh;
        }

        .header_sub{ 
            width: 60%;
            .header_title2{
                text-align: left;
            }

            p{
                text-align: left;
                width: 80%;
            }
        }
       
    }
}