

.choices{
    display: flex;
    justify-items: center;
    align-items: center;
    // border: 1px solid green;
    justify-content: space-between;

    label{
        font-weight: bold;
        font-size: 16px;
        color: $Gunmetal;
        // border: 1px solid red;
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-items: center;
        column-gap: 10px;
    
        p{
            margin-top: 0px;
            // border: 1px solid red;
        }
    
        .button{
            width: 31px;
            height: 31px;
            margin-top: 0px;
    
            // &::after{
            //     border: none;
            //     box-shadow: 5px 5px 10px blue;
            // }
        }
    
    }
}




