.image-man-eating{
    width: 100vw;
    height: 60vh;
    margin-left: 0;
    margin-top: 552px;
    padding: 0;
    // border: 1px solid red;
    margin-bottom: 48px;
   
}

@media screen and (min-width:768px){
    .image-man-eating{
        width: 100%;
        margin-top: 400px;
        margin-right: -15vw;
        height: auto;
        margin-bottom: 48px;
    }
}
@media screen and (min-width: 1440px){
    
}