body{
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 120px;
    margin-right: 120px;
    /* margin: 4vh 6vw 4vh 6vw; */
    /* width: 100vw; */
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color:  hsl(240, 100%, 5%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav #dob-u{
    float: left;
  }
  
  /* Change the color of links on hover */
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

#dob-u{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: 800;
}


.item1 { grid-area: image; }
.item2 { grid-area: bright; }
.item3 { grid-area: read; }
.item4 { grid-area: new; }
.item5 { grid-area: one; }
.item6 { grid-area: two; }
.item7 { grid-area: three; }


.grid-container {
  display: grid;
  grid-template-areas:
    'image image image image new new'
    'bright bright read read new new'
    'one one two two three three';
    /* grid-template-columns: auto auto auto; */
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  /* font-size: 30px; */
}

.image1{
    width: 70vw;
}

.image2{
    display: none;
}
.item2{
    font-weight: 800;
    font-size: 55px;
}

.item3{
    color: hsla(238, 34%, 45%, 0.907);
    word-spacing: 1.2px;
    line-height: 25px;
}

.item3 p{
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    width: 160px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 13px;
    letter-spacing: 2px;
}

.item4{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.item4 p{
    color: hsla(240, 6%, 78%, 0.907);
    margin-top: -10px;
    margin-bottom: 40px;
}

.item4 h2{
    color: hsl(35, 77%, 62%);
    margin-bottom: 10px;
}

hr{
    border-top: 1px solid hsla(240, 6%, 13%, 0.449);
}

.down img{
    float: left;
    margin-right: 20px;
    height: 170px;
}

.item5{
    margin-bottom: 18px;
}

.item6{
    margin-bottom: 18px;
}

.item7{
    margin-bottom: 18px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}
 
 @media screen and (max-width: 600px) {

    body{
        margin: auto 10px;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .image1{
        display: none;
      }
   
    .image2{
        display: block;
        width: 90vw;
      }
    
    .item4{
    margin-top: 30px;
    }

    .grid-container {
    display: grid;
    grid-template-areas:
        'image image image image'
        'bright bright bright bright'
        'read read read read'
        'right right right right'
        'one one one one'
        'two two two two'
        'three three three three';
    gap: 10px;
    padding: 10px;
    }
  }
