nav{
    background-color: rgb(253, 185, 146);
    padding: 2px;
    margin: auto -10px;
    margin-top: -10px;
}

nav > p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 10px;
}

body{
    background: linear-gradient(to right, rgb(124, 124, 255), rgb(211, 211, 255) );
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}

img{
    width: 60px;
}

.suggest{
    text-align: center;
    font-size: 30px;
}

#container{
    background-color: rgb(239, 173, 132);
    margin: auto 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.811);
    cursor: pointer;
}

button{
    float: right;
    /* margin-top: 200px; */
    /* margin-right: 100px; */
    border-radius: 7px;
    padding: 20px;
    background-color: rgb(255, 178, 116);
    font-size: 22px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.811);


}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 157, 36);
    color: white;
    box-shadow: 4px 4px rgb(165, 108, 1);
}

.activities{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}