body{
    background-color: #EFF5FF;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container__bg{
    margin: 0;
    padding: 0;
}

.container__bg-image{
    width: 100%;
}

.container__bg-pagination{
   position: absolute; 
   top: 5%;
   left: 20%;
   display: flex;
   justify-content: space-between;
   width: 60%;
   /* border: 1px solid red; */

}

.container__bg-paginations{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-weight: 600;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid white;
}

.container__bg-paginations-active{
    border: none;
    color: #022959;
    background-color: #BEE2FD;
}

.container__main-background{
    /* border: 1px solid red ; */
    height: 55vh;
    width: 90vw;
    position: absolute;
    top: 15%;
    left: 4.5%;
    background-color: white;
    border-radius: 3%;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 5px 10px #D6D9E6;
}

.container__main-background-side-image{
    display: none;
}

.container__main-heading{
    margin-top: 0;
    color: #022959;
}

.container__main-info{
    color: #9699AA;
    font-size: 16px;
}

.container__main-form-input{
    margin-top: 2px;
    margin-bottom: 15px;
    width: 100%;
    height: 5vh;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #9699AA;
    box-sizing: border-box;
    padding: 15px;
}

.container__main-form-label{
    font-size: 12px;
    color: #022959;
}

.container__buttom{
    background-color: white;
    margin-bottom: 0;
    width: 100%;
    height: 13%;
    position: absolute;
    top: 87%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;


}

.container__buttom-button{
    position: relative;
    color: white;
    background-color: #022959;
    height: 50%;
    font-weight: 500;
    font-size: 16px;
    width: 30%;
    border-radius: 5px;
}

.container__bg-pagination2{
    display: none;
}

.container__buttom-button2{
    display: none;
 }


@media screen and (min-width: 900px){
    .container__main-background{
        /* border: 1px solid red ; */
        height: 80vh;
        width: 90vw;
        position: absolute;
        top: 15%;
        left: 4.5%;
        background-color: white;
        border-radius: 1%;
        box-sizing: border-box;
        padding: 30px;
        box-shadow: 0px 5px 10px #D6D9E6;
    }

    .container__bg-image{
        display: none;
    }

    .container__main-background-side-image{
        display: block;
        height: 86vh;
        width: 100%;
        padding-left: 2.5vw;
        /* border: 1px solid red; */
    }

    .container__main{
        padding-left: 4.2vw;
        padding-right: 4.2vw;
        box-sizing: border-box;
        /* border: 1px solid green ; */
    }

    .container__buttom{
       display: none;    
    }

    .container__main-background{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        padding-left: 0%;
        /* border: 1px solid blueviolet; */
    }

    .container__main-heading{
        font-size: 38px;
    }

    .container__main-info{
        font-size: 20px;
    }

    .container__main-form{
        font-size: 16px;
    }

    .container__main-form-input{
        margin-top: 0.5vh;
        margin-bottom: 3vh;
        width: 50vw;
        height: 6vh;
        font-size: 15px;
        font-weight: 500;
        border-radius: 4px;
        /* border: 1px solid #9699AA; */
        box-sizing: border-box;
        padding: 15px;
    }

    .container__main-form-label{
        font-weight: 400;
    }

    .container__bg-paginations{
        display: none;
    }

    .container__bg-pagination2{
        display: block;
        position: absolute; 
        top: 12%;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        /* border: 1px solid red; */
     
     }

     .container__bg-paginations2{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        color: white;
        font-weight: 600;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid white;
     }

     .group{
        display: flex;
        column-gap: 20px;
        margin-bottom: 10px;
     }
     
     .container__bg-pagination2-details{
        margin-top: -10px;
        color: white;
     }

     .container__bg-pagination2-details h4{
        margin-bottom: 10px;
        padding: 0;
     }

     #step{
        padding: 0;
        margin-top: 10px;
        margin-bottom: -36px;
        color: #ABBCFF;
     }

     .container__bg-paginations2-active{
         border: none;
         color: #022959;
         background-color: #BEE2FD;
     }

     .container__buttom-button2{
        display: block;
        position: absolute;
        color: white;
        top: 83%;
        left: 76%;
        background-color: #022959;
        height: 8%;
        font-weight: 500;
        font-size: 18px;
        width: 12%;
        border-radius: 10px;
     }
    
}
