h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 60px;
color: blue;
text-decoration: underline blue;
text-shadow: 2px 4px blueviolet;

}

body{
background-color: antiquewhite;
position: relative;
text-align: center;
}

.calc{
    width: 32vw;
    height: 63vh;
    background-color: rgb(211, 214, 215);
    position: absolute;
    top: 15vh;
    right: 34vw;
    border: 14px outset rgb(135, 135, 135);
    border-radius: 12px;
    
}


textarea{
    text-align: right;
    position: relative;
    margin: 20px;
    width: 78%;
    height: 27%;
    border:  7px inset ;
    font-size: 45px;
}

.butnum{
    width: 83%;
    height: 50%;
    border: 2px solid green;
    margin: auto 20px;

}

.butnum *{
    width: fit-content;
    

}

 button{
    background-color: rgba(0, 0, 0, 0.688);
    color: white;
    width: 19%;
    height: 15%;
    border: 4px 6px outset rgba(0, 0, 0, 0.688);
    border-radius: 4px;
    margin-bottom: 2px;
    font-size: 25px;
}
/*
.red{
    background-color: rgb(186, 88, 56);
}

.row{ 
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
    width: 80%;
    /* position: absolute; 

}

.row2{
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
    width: 80%;
    border: 2px solid yellow;

}


.l2a,.l2b {
    display: flex;
    justify-content: space-between;
    width: 80px;

}

.l2a button,.l2b button {
    /* margin-right: 10px; 
    width: 1;
    border: 2px solid red;
}

.plus{
    width: 80px;
    height: 113px;
    border: 4px 4px outset rgba(0, 0, 0, 0.688);
    border-radius: 2px;
    
}

.l2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.l1{
    width: 80px !important;
    border: 2px solid rgb(225, 63, 18);
} */