//Colors
$White: #ffffff;
$Deep-blue: #070724;
$Blue-ish-grey: #38384F;
$Grey: #838391;
$Pale-blue: #419EBB;
$Pale-orange: #EDA249;
$Purple: #6f2ed6;
$Dark-red: #D14C32;
$Normal-red: #D83A34;
$Normal-orange: #CD5120;
$Green: #1ec2a4;
$Normal-blue: #2d68f0;

//Typography
$Font-Antonio: 'Antonio', sans-serif;
$Font-Spartan: 'League Spartan', sans-serif;