@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.FormContainer {
  font-family: "Outfit", sans-serif;
  background-color: #10141E;
  text-align: center;
  padding: 4.8rem 2.4rem;
}
.FormContainer .movieicon {
  margin-bottom: 5.84rem;
}
.FormContainer .Form {
  background-color: #161D2F;
  padding: 1.4rem;
  border-radius: 0.8rem;
}
.FormContainer .Form .InputContainer {
  position: relative;
}
.FormContainer .Form .InputContainer .ErrorMessage {
  position: absolute;
  top: 1px;
  right: 0.5rem;
  font-size: 0.8rem;
  color: #FC4747;
}
.FormContainer .Form h2 {
  font-weight: 300;
  color: #FFFFFF;
  font-size: 2.2rem;
  text-align: left;
  margin-bottom: 1.8rem;
}
.FormContainer .Form .input.error {
  border-color: #FC4747;
}
.FormContainer .Form .input {
  width: 100%;
  background-color: #161D2F;
  color: rgba(255, 255, 255, 0.3137254902);
  border: none;
  border-bottom: 1px solid #5A698F;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
  cursor: pointer;
  caret-color: #FC4747;
}
.FormContainer .Form button {
  color: #FFFFFF;
  text-align: center;
  background-color: #FC4747;
  border: none;
  border-radius: 0.5rem;
  padding: 1.1rem 3.75rem;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.FormContainer .Form button:hover {
  background-color: #FFFFFF;
  color: #FC4747;
}
.FormContainer .Form p {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 1.4rem 1.5rem 1.8rem 1.5rem;
}
.FormContainer .Form p span {
  color: #FC4747;
  cursor: pointer;
}

@media screen and (min-width: 376px) {
  body .FormContainer {
    padding: 4.8rem 8rem;
  }
  body .FormContainer .movieicon {
    margin-bottom: 4rem;
  }
  body .FormContainer .Form {
    padding: 1.5rem;
    border-radius: 0.8rem;
  }
  body .FormContainer .Form h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  body .FormContainer .Form .input {
    padding: 1rem;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }
  body .FormContainer .Form button {
    margin-top: 0.8rem;
  }
  body .FormContainer .Form p {
    padding: 1.2rem 1.5rem 0.5rem 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  body .FormContainer {
    padding: 4.8rem 30vw;
  }
  body .FormContainer .movieicon {
    margin-bottom: 5.5rem;
  }
}
.Nav {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  background-color: #161D2F;
  width: 100vw;
  margin: 0;
}
.Nav .Sections {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.Nav .Sections #nav-icon:hover {
  filter: invert(38%) sepia(42%) saturate(3972%) hue-rotate(336deg) brightness(102%) contrast(97%);
  cursor: pointer;
}
.Nav .Sections #nav-icon:active {
  color: white;
  filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(142deg) brightness(102%) contrast(103%);
}
.Nav .Sections #nav-icon:focus {
  filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(142deg) brightness(102%) contrast(103%);
}

.MoviesContainer {
  padding: 1.5rem;
  overflow-x: hidden;
}
.MoviesContainer .Search {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.MoviesContainer .Search-input {
  width: 100vw;
  height: 1.6rem;
  background-color: #10141E;
  border: none;
  font-size: 1.2rem;
  margin-left: 1.4rem;
  color: #FFFFFF;
  cursor: pointer;
  caret-color: #FC4747;
}
.MoviesContainer .Search-input[type=text]:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #5A698F;
}
.MoviesContainer .Trending {
  margin-top: 1.7rem;
}
.MoviesContainer .Trending p.trend {
  font-size: 1.3rem;
  letter-spacing: -0.31px;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}
.MoviesContainer .Trending-container {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.MoviesContainer .Trending-container-images {
  position: relative;
  cursor: pointer;
}
.MoviesContainer .Trending-container-images:hover .container-content {
  bottom: 50rem;
  height: 100%;
}
.MoviesContainer .Trending-container-images img.movie {
  width: 62vw;
}
.MoviesContainer .Trending-container-images .container-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  transition: all 400ms ease-out;
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2px) brightness(80%);
          backdrop-filter: blur(2px) brightness(80%);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.042);
}
.MoviesContainer .Trending-container-images .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  width: 4rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.266);
  top: 45%;
  left: 40%;
  color: #FFFFFF;
}
.MoviesContainer .Trending-container-images .content .playicon {
  width: 1rem;
}
.MoviesContainer .Trending-container-images-bookmark {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}
.MoviesContainer .Trending-container-images-label {
  position: absolute;
  top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  padding: 0.8rem;
}
.MoviesContainer .Trending-container-images-label-class {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.MoviesContainer .Trending-container-images-label-class-yearCategory {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4588235294);
  gap: 0.4rem;
  justify-content: space-between;
}
.MoviesContainer .Trending-container-images-label-class-yearCategory-year {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4588235294);
}
.MoviesContainer .Trending-container-images-label-class-yearCategory-category {
  display: flex;
  gap: 0.4rem;
}
.MoviesContainer .Trending-container-images-label-class-yearCategory-mpaa-tab {
  display: none;
}
.MoviesContainer .Trending-container-images-label-class-name {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}
.MoviesContainer .Trending-container-images-label-mpaa {
  color: #FFFFFF;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.3137254902);
  padding: 0.3rem 0.5rem;
  border-radius: 42%;
}
.MoviesContainer .Recommendations {
  margin-top: 1.7rem;
}
.MoviesContainer .Recommendations p.recom {
  font-size: 1.3rem;
  letter-spacing: -0.31px;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 400px) {
  body .MoviesContainer .Trending p.trend {
    font-size: 1.5rem;
  }
  body .MoviesContainer .Trending-container {
    overflow-y: hidden;
  }
  body .MoviesContainer .Trending-container-images {
    position: relative;
  }
  body .MoviesContainer .Trending-container-images img.movie {
    width: 62vw;
  }
  body .MoviesContainer .Trending-container-images-bookmark {
    right: 1rem;
    top: 1rem;
  }
  body .MoviesContainer .Trending-container-images-label {
    bottom: -2.8rem;
  }
  body .MoviesContainer .Trending-container-images-label-class-yearCategory-mpaa-tab {
    display: block;
    display: flex;
    gap: 0.4rem;
  }
  body .MoviesContainer .Trending-container-images-label-mpaa {
    display: none;
  }
  body .MoviesContainer .Recommendations p.recom {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  body .Home {
    display: flex;
  }
  body .Nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: #161D2F;
    height: 90vh;
    width: 5vw;
    margin: 2.5rem;
  }
  body .Nav .Sections {
    margin-top: -40vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  body .MoviesContainer {
    margin-left: 10.5vw;
  }
  body .MoviesContainer .Search {
    margin-top: 2.5rem;
  }
  body .MoviesContainer .Trending p.trend {
    font-size: 1.5rem;
  }
  body .MoviesContainer .Trending-container {
    overflow-y: hidden;
  }
  body .MoviesContainer .Trending-container-images {
    position: relative;
  }
  body .MoviesContainer .Trending-container-images img.movie {
    width: 30rem;
  }
  body .MoviesContainer .Trending-container-images-bookmark {
    right: 1rem;
    top: 1rem;
  }
  body .MoviesContainer .Trending-container-images-label {
    bottom: -5.8rem;
  }
  body .MoviesContainer .Trending-container-images-label-class-yearCategory-mpaa-tab {
    display: block;
    display: flex;
    gap: 0.4rem;
  }
  body .MoviesContainer .Trending-container-images-label-mpaa {
    display: none;
  }
}
.filteredcategories {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  letter-spacing: -0.31px;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}

/* Default color for inactive images */
.Formlink {
  fill: grey;
}

/* Change color for active images */
.Formlink.active {
  fill: white;
}

.god {
  color: white;
  width: 50px;
  height: 100px;
}

.Recommended-container {
  display: flex;
  gap: 1.2rem;
}
.Recommended-container-images {
  position: relative;
  cursor: pointer;
}
.Recommended-container-images:hover .container-content {
  bottom: 50%;
  height: 68%;
}
.Recommended-container-images > :first-child {
  width: 40vw;
}
.Recommended-container-images > :first-child:hover {
  cursor: pointer;
}
.Recommended-container-images .container-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  transition: all 400ms ease-out;
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2px) brightness(80%);
          backdrop-filter: blur(2px) brightness(80%);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.042);
}
.Recommended-container-images .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  width: 4rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.266);
  top: 35%;
  left: 25%;
  color: #FFFFFF;
}
.Recommended-container-images .content .playicon {
  width: 1rem;
}
.Recommended-container-images-bookmark {
  position: absolute;
  right: 0.6rem;
  top: 0.4rem;
}
.Recommended-container-images-bookmark:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  cursor: pointer;
}
.Recommended-container-images-label {
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
}
.Recommended-container-images-label-class {
  color: rgba(255, 255, 255, 0.4588235294);
  font-size: 0.8rem;
}
.Recommended-container-images-label-class-yearCategory {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.4rem;
}
.Recommended-container-images-label-class-yearCategory-category {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.4rem;
}
.Recommended-container-images-label-class-name {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.Recommended-movies {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

@media screen and (min-width: 400px) {
  .Recommended-container {
    display: flex;
    gap: 1.2rem;
  }
  .Recommended-container-images {
    position: relative;
  }
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 65%;
  }
  .Recommended-container-images .content {
    top: 42%;
    left: 30%;
  }
  .Recommended-container-images > :first-child {
    width: 28vw;
  }
  .Recommended-container-images-bookmark {
    position: absolute;
    right: 1.6rem;
    top: 0.4rem;
  }
  .Recommended-movies {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 600px) {
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 72%;
  }
  .Recommended-container-images .content {
    top: 40%;
    left: 28%;
  }
}
@media (min-width: 670px) and (max-width: 900px) {
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 80%;
  }
  .Recommended-container-images .content {
    top: 40%;
    left: 35%;
  }
}
@media screen and (min-width: 800px) {
  .Recommended-container {
    display: flex;
    gap: 1.2rem;
  }
  .Recommended-container-images {
    position: relative;
  }
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 68%;
  }
  .Recommended-container-images .content {
    top: 40%;
    left: 33%;
  }
  .Recommended-container-images > :first-child {
    width: 20vw;
  }
  .Recommended-container-images-bookmark {
    position: absolute;
    right: 1rem;
    top: 0.4rem;
  }
  .Recommended-movies {
    grid-template-columns: auto auto auto auto;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 82%;
  }
  .Recommended-container-images .content {
    top: 40%;
    left: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .Recommended-container-images:hover .container-content {
    bottom: 50%;
    height: 87%;
  }
  .Recommended-container-images .content {
    top: 40%;
    left: 40%;
  }
  .Recommended-container-images .content .playicon {
    width: 1rem;
  }
  .Recommended-container-label-class-yearCategory {
    gap: 0.8rem;
  }
}
.food {
  color: #FFFFFF;
}

body {
  background-color: #10141E;
  font-family: "Outfit", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}/*# sourceMappingURL=App.css.map */