body{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins' ,serif;
}

.main{
    background-color: hsl(0, 0%, 100%);
    height: 260px;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5% 5% 30% 5%;
    padding: 40px;
}

hr{
border-top: 1px solid rgba(132, 132, 132, 0.086); 
width: 85%;
margin-left: 0;
margin-top: 20px;
}

button{
  display: flex;
  justify-content: center;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 10%;
  text-align: center;
  position: absolute;
  top: 28%;
  left: 80%;
  border: none;
}

.button-icon{
  width: 20px;
  padding: 10px;
}


.form-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

.form-group {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .form-group label {
    margin-bottom: 1px;
    font-size: 8px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.527);
  }

  ::placeholder{
    font-weight: 800;
    text-align: left;
    position: relative;
    left: 10%;
    color: rgba(57, 57, 57, 0.593);
  }


  .form-group input {
    margin-bottom: 5px;
    width: 80px;
    height: 32px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid rgba(132, 132, 132, 0.086);
    }

  .form-group input[type="submit"] {
    margin-bottom: 0;
  }

.show{
  font-size: 50px;
  margin-top: 30px;
  /* border: 1px solid red; */
}

.show p{
  /* border: 1px solid black; */
  margin-top: -10px;
  margin-bottom: -20px;
  font-style: italic;
  font-weight: 800;
}

.dash{
  color: hsl(259, 100%, 65%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width : 600px){
  .main{
    background-color: hsl(0, 0%, 100%);
    height: 380px;
    width: 280px;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5% 5% 20% 5%;
    padding-left: 20px;
    padding-right: 20px;
}

  hr{
  border-top: 1px solid rgba(132, 132, 132, 0.086); 
  width: 100%;
  margin-left: 0;
  margin-top: 60px;
  margin-bottom: 70px;
  }
  
  button{
    display: flex;
    justify-content: center;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 18%;
    height: 12%;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 40%;    
  }

  button img{
    position: relative;
    top: 5%;
  }

  .button-icon{
    width: 60%;
  }
}