.FormContainer{
    font-family: $Outfit;
    background-color: $Bg-color;
    text-align: center;
    padding: 4.8rem 2.4rem;

    .movieicon{
        margin-bottom: 5.84rem;
    }

    .Form{
        background-color: $Deep-blue;
        padding: 1.4rem;
        border-radius: 0.8rem;
        .InputContainer{
            position: relative;
            .ErrorMessage{
                position: absolute;
                top: 1px;
                right: 0.5rem;
                font-size: 0.8rem;
                color: $Orange;
            }
        }

        h2{
            font-weight: 300;
            color: $White;
            font-size: 2.2rem;
            text-align: left;
            margin-bottom: 1.8rem;
        }
        
        .input.error{
            border-color: $Orange;
        }
        .input{
            width: 100%;
            background-color: $Deep-blue;
            color: #FFFFFF50;
            border: none;
            border-bottom: 1px solid $Greyish-blue;
            padding: 1rem;
            font-size: 1rem;
            margin-bottom: 1rem;
            transition: border-color 0.3s ease;
            cursor: pointer;
            caret-color: $Orange;
        }

        button{
            color: $White;
            text-align: center;
            background-color: $Orange;
            border: none;
            border-radius: 0.5rem;
            padding: 1.1rem 3.75rem;
            width: 100%;
            font-size: 1rem;
            margin-top: 2rem;
            cursor: pointer;


            &:hover{
                background-color: $White;
                color: $Orange;
            }
        }

        p{
            color: $White;
            font-size: 1rem;
            padding: 1.4rem 1.5rem 1.8rem 1.5rem;
            span{
                color: $Orange;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 376px){
    body{
        .FormContainer{
            padding: 4.8rem 8rem;
        
            .movieicon{
                margin-bottom: 4rem;
            }
        
            .Form{
                padding: 1.5rem;
                border-radius: 0.8rem;
        
                h2{
                    font-size: 2rem;
                    margin-bottom: 1.2rem;
                }
                
                .input{
                    padding: 1rem;
                    font-size: 0.8rem;
                    margin-bottom: 0.8rem;
                }
        
                button{
                    margin-top: 0.8rem;
                }
        
                p{
                    padding: 1.2rem 1.5rem 0.5rem 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 800px){
    body{
        .FormContainer{
            padding: 4.8rem 30vw;
        
            .movieicon{
                margin-bottom: 5.5rem;
            }
        }
    }
}