.Nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: $Deep-blue;
    width: 100vw;
    // box-sizing: content-box;
    margin: 0;

    .Sections{
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        #nav-icon{
            &:hover{
                filter: invert(38%) sepia(42%) saturate(3972%) hue-rotate(336deg) brightness(102%) contrast(97%);
                cursor: pointer;
            }
            &:active{
                color: white;
            
                filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(142deg) brightness(102%) contrast(103%);
            }
            &:focus{
                filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(142deg) brightness(102%) contrast(103%);
            }
        }
    }
}

.MoviesContainer{
    padding: 1.5rem;
    overflow-x: hidden;
    // padding-top: 0;

    .Search{
        display: flex;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        &-input{ 
            width: 100vw;
            height: 1.6rem;
            background-color: $Bg-color;
            border: none;
            font-size: 1.2rem;
            margin-left: 1.4rem;
            color: $White;
            cursor: pointer;
            caret-color: $Orange;
        }
        &-input[type=text]:focus{
                border: none;
                outline: none;
                border-bottom: 1px solid $Greyish-blue;
            }
    }

    .Trending{
        margin-top: 1.7rem;

        p.trend{
            font-size: 1.3rem;
            letter-spacing: -0.31px;
            color: $White;
            margin-bottom: 1.2rem;
        }
        &-container{
            display: flex;
            gap: 1.2rem;
            overflow-x: auto;
            overflow-y: hidden;
            &-images{  
            position: relative;
            cursor: pointer;
            &:hover .container-content {
                bottom: 50rem;
                height: 100%;
              }
            img.movie{
                width: 62vw;
                // &:hover{
                // opacity: 30%;
                // }
            }
            .container-content{
                position: absolute;
                left: 0;
                top: 0;
                height: 0;
                width: 100%;
                -webkit-transition: all 400ms ease-out;
                -moz-transition: all 400ms ease-out;
                -o-transition: all 400ms ease-out;
                -ms-transition: all 400ms ease-out;
                transition: all 400ms ease-out;
                text-align: center;
                overflow: hidden;
                backdrop-filter: blur(2px) brightness(80%);
                transition: all .3s ease-in-out;
                background-color: rgba(255, 255, 255, 0.042);
                
            }
            .content {
                .playicon{
                    width: 1rem;
                }
                position: relative; 
                display: flex;
                align-items: center;
                justify-items: center;
                justify-content: space-around;
                gap: 0.3rem;
                padding: 0.5rem;
                font-size: 0.6rem;
                width: 4rem;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 0.266);
                top: 45%;
                left: 40%;
                color: $White;
               
                }
              
              
            
                &-bookmark{
                    position: absolute;
                    right: 0.4rem;
                    top: 0.4rem;
                }
                &-label{
                    position: absolute;
                    top: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    justify-items: center;
                    width: 100%;
                    padding: 0.8rem;

                    &-class{
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        // border: 1px solid red;

                        
                        &-yearCategory{
                            display: flex;
                            // border: 1px solid red;
                            align-items: center;
                            justify-items: center;
                            font-size: 0.8rem;
                            color: #ffffff75;
                            gap: 0.4rem;
                            justify-content: space-between;
                            &-year{
                                font-size: 0.8rem;
                                color: #ffffff75;
                                
                            }
                            &-category{
                                display: flex;
                                gap: 0.4rem;
                            }
                            &-mpaa-tab{
                                display: none;
                            }
                        }

                        &-name{
                            color: white;
                            font-weight: 500;
                            font-size: 0.9rem;
                        }
                    } 
                    
                    &-mpaa{
                        color: $White;
                        font-size: 0.8rem;
                        background-color: #ffffff50;
                        padding: 0.3rem 0.5rem;
                        border-radius: 42%;
                    }
                }
           
            }
        }
        
    }

    .Recommendations{
        margin-top: 1.7rem;
        p.recom{
            font-size: 1.3rem;
            letter-spacing: -0.31px;
            color: $White;
            margin-bottom: 1.2rem;
        }
    }
}

@media screen and (min-width: 400px){
    body{
        .MoviesContainer{
            .Trending{
                p.trend{
                    font-size: 1.5rem;
                }
                &-container{
                    overflow-y: hidden;
                    &-images{  
                    position: relative;
                    img.movie{
                        width: 62vw;
                    }
                        &-bookmark{
                            right: 1rem;
                            top: 1rem;
                        }
                        &-label{
                            bottom: -2.8rem;
                            &-class{
                                &-yearCategory{
                                    &-mpaa-tab{
                                        display: block;
                                        display: flex;
                                        gap: 0.4rem;
                                    }
                                }
                            } 
                            
                            &-mpaa{
                                display: none;
                            }
                        }
                   
                    }
                }
                
            }
        
            .Recommendations{
                p.recom{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 800px){
    body{
        .Home{
            display: flex;
        }
        .Nav{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            justify-content: space-between;
            padding: 1.6rem;
            background-color: $Deep-blue;
            height: 90vh;
            width: 5vw;
            // box-sizing: content-box;
            margin: 2.5rem;
        
            .Sections{
                margin-top: -40vh;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
            }
        }
        .MoviesContainer{
            margin-left: 10.5vw;
            .Search{
                margin-top: 2.5rem;

            }
            .Trending{
                p.trend{
                    font-size: 1.5rem;
                }
                &-container{
                    overflow-y: hidden;
                    &-images{  
                    position: relative;
                    img.movie{
                        width: 30rem;
                    }
                        &-bookmark{
                            right: 1rem;
                            top: 1rem;
                        }
                        &-label{
                            bottom: -5.8rem;
                            &-class{
                                &-yearCategory{
                                    &-mpaa-tab{
                                        display: block;
                                        display: flex;
                                        gap: 0.4rem;
                                    }
                                }
                            } 
                            
                            &-mpaa{
                                display: none;
                            }
                        }
                   
                    }
                }
                
            }
        }   
    }
}


.filteredcategories{
    margin-top: 1.7rem;
    font-size: 1.6rem;
    letter-spacing: -0.31px;
    color: $White;
    margin-bottom: 1.2rem;
}