//Colors
$Orange: #FC4747;
$Bg-color: #10141E;
$Deep-blue: #161D2F;
$Greyish-blue: #5A698F;
$White: #FFFFFF;

//Font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
$Outfit:'Outfit', sans-serif;