.Recommended-container{
    display: flex;
    gap: 1.2rem;
    &-images{  
        &>:first-child{
            width: 40vw;
        }
        position: relative;
        &-bookmark{
            position: absolute;
            right: 0.6rem;
            top: 0.4rem;
        }
        &-label{
            margin-top: 0.6rem;
            margin-bottom: 1.4rem;
            &-class{
                color: #ffffff75;
                font-size: 0.8rem;
                &-yearCategory{
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    gap: 0.4rem;
                    &-category{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        gap: 0.4rem;
                    }
                }

                &-name{
                    color: white;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
           
        }
    }
}

.Recommended-movies{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

@media screen and (min-width: 400px){
    .Recommended-container{
        display: flex;
        gap: 1.2rem;
        &-images{  
            &>:first-child{
                width: 28vw;
            }
            position: relative;
            &-bookmark{
                position: absolute;
                right: 1.6rem;
                top: 0.4rem;
            }
        }
    }
    .Recommended-movies{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 800px){
    .Recommended-container{
        display: flex;
        gap: 1.2rem;
        &-images{  
            &>:first-child{
                width: 20vw;
            }
            position: relative;
            &-bookmark{
                position: absolute;
                right: 1.6rem;
                top: 0.4rem;
            }
        }
    }
    .Recommended-movies{
        grid-template-columns: auto auto auto auto;
    }
}