.Recommended-container{
    display: flex;
    gap: 1.2rem;
    &-images{  
        position: relative;
        cursor: pointer;
        &:hover .container-content {
            bottom: 50%;
            height: 60%;
          }
        &>:first-child{
            width: 40vw;
            &:hover{
                cursor: pointer;
            }
        }
        .container-content{
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            width: 100%;
            -webkit-transition: all 400ms ease-out;
            -moz-transition: all 400ms ease-out;
            -o-transition: all 400ms ease-out;
            -ms-transition: all 400ms ease-out;
            transition: all 400ms ease-out;
            text-align: center;
            overflow: hidden;
            backdrop-filter: blur(2px) brightness(80%);
            transition: all .3s ease-in-out;
            background-color: rgba(255, 255, 255, 0.042);
            
        }
        .content {
            .playicon{
                width: 1rem;
            }
            position: relative; 
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: space-around;
            gap: 0.3rem;
            padding: 0.5rem;
            font-size: 0.6rem;
            width: 4rem;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.266);
            top: 30%;
            left: 25%;
            color: $White;
           
            }
          
        &-bookmark{
            position: absolute;
            right: 0.6rem;
            top: 0.4rem;
            &:hover{
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                cursor: pointer;
            }
        }
        &-label{
            margin-top: 0.6rem;
            margin-bottom: 1.4rem;
            &-class{
                color: #ffffff75;
                font-size: 0.8rem;
                &-yearCategory{
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    gap: 0.8rem;
                    &-category{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        gap: 0.4rem;
                    }
                }

                &-name{
                    color: white;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
           
        }
    }
}

.Recommended-movies{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

@media screen and (min-width: 400px){
    .Recommended-container{
        display: flex;
        gap: 1.2rem;
        &-images{  
            &:hover .container-content {
                bottom: 50%;
                height: 65%;
              }

            .content {
            top: 42%;
            left: 30%;
            }
            &>:first-child{
                width: 28vw;
            }
            position: relative;
            &-bookmark{
                position: absolute;
                right: 1.6rem;
                top: 0.4rem;
            }
        }
    }
    .Recommended-movies{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 800px){
    .Recommended-container{
        display: flex;
        gap: 1.2rem;
        &-images{  
            &:hover .container-content {
                bottom: 50%;
                height: 68%;
              }

            .content {
            top: 40%;
            left: 33%;
            }
            &>:first-child{
                width: 20vw;
            }
            position: relative;
            &-bookmark{
                position: absolute;
                right: 1rem;
                top: 0.4rem;
            }
        }
    }
    .Recommended-movies{
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1120px){
    .Recommended-container{
        &-images{  
            &:hover .container-content {
                bottom: 50%;
                height: 75%;
            }
            .content {
                top: 40%;
                left: 40%;
            }
        }
    }
}

.food{
    color: $White;
}